# Git
.git
.gitignore
.gitattributes
.pre-commit-config.yaml
README.md

# Docker
docker-compose.yml
**/Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*/*/__pycache__/
/__pycache__/
**/*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/_build/

# PyCharm
.idea

# Python mode for VIM
.ropeproject
**/.ropeproject

# Vim swap files
**/*.swp

# Environments
.venv
env/
venv/
ENV/
